@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth; /* Efek animasi halus saat bergulir */
}

.navbar {
  background-color: #1c2833;
}

.home {
  background-color: #081b29;
}

.img-size {
  width: 15vh;
}

.skills {
  background-color: #273746;
}

.porto-image {
  width: 30rem;
  transition: transform 0.3s ease;
}

.porto-image:hover {
  transform: scale(1.2);
}

.images-about {
  position: relative;
}

.bg-image {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 10;
}

.foreground-image {
  position: relative;
  z-index: 2;
}

.c-link a {
  position: relative;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  width: 60px;
  height: 60px;
  background: transparent;
  border: 2px solid #00abf0;
  border-radius: 50%;
  font-size: 40px;
  color: #00abf0;
  text-decoration: none;
  z-index: 1;
  overflow: auto;
  transition: 0.5s;
  margin-bottom: 10px;
}

footer {
  width: 100%;
  height: 15vh;
  background-color: black;
  color: #ededed;
}

/* Tambahkan aturan CSS untuk tampilan responsif */
@media (max-width: 767px) {
  .c-home {
    height: auto;
  }
  .c-home .col-md-6 {
    margin-bottom: 2rem;
  }
  .c-home img {
    max-width: 100%;
    height: auto;
  }
  .text-primary {
    font-size: 3vh;
  }
  .text-danger {
    font-size: 3.5vh;
  }
  .btn {
    font-size: 3vh;
  }
  .col-md-6,
  .col-md-12 {
    padding-left: 0;
    padding-right: 0;
  }
  .bg-image,
  .foreground-image {
    width: 100%;
    height: auto;
  }
  .porto-image {
    max-width: 100%;
  }
  .footer p {
    font-size: 12px;
  }
}
